<html>
  <head>
    <% include ./header.ejs %>
  </head>
  <body>
    <header>
      <% include ./navigation.ejs %>
    </header>
    <div align="center">
      <h2>Profile</h2>
      <div>
        <fieldset style="width:30%">
            <div align="left">
              Email Address: <h4><%= user.email %></h4><br><br>
              Name: <h4><%= user.name %></h4><br><br>
              Facebook Address: <a href="http://<%= user.facebook %>">
                <h4><%= user.facebook %></h4></a><br><br>
              Posts uploaded by <%= user.name %>:
                <ul>
                  <% for(var i=0; i<user.posts.length; i++) { %>
                    <li>
                      제목:
                      <a href='/post?postId=<%= user.posts[i]._id %>'>
                          <%= user.posts[i].title %>
                      </a>
                    </li>
                  <% } %>
                </ul>
          </div>
        </fieldset>
      </div>
    </div>
  </body>
</html>
